---
layout: home
classes: wide
title: "Qingying Gao"
author_profile: true
sidebar:
  nav: main
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/images/illustrations/masterphoto.jpg
  actions:
    - label: "RESUME"
      url: "https://drive.google.com/file/d/18DJkk2GwRTwYskH1WUC5PwuQmmHI9HGy/view?usp=sharing"
  caption: "CUFE (BS) -> JHU (MSE) -> JHU (ongoing) "
excerpt: "高清滢 (Kaia)"
home_work_gallery:
  - url: papers/#low-vision-assistive-tool
    image_path: assets/images/illustrations/lowvision.png
    alt: "low vision research"
    title: "Low Vision Assistive Tools"
  - url: papers/#grow-ai-like-a-child
    image_path: assets/images/illustrations/cogdev.jpg
    alt: "VLM Theory-of-Mind"
    title: "VLM Theory-of-Mind"
  - url: papers/#augmented-reality
    image_path: assets/images/illustrations/ar.png
    alt: "Medical AR"
    title: "Medical AR"
news_gallery:
  - image_path: assets/images/news/aaai2025.jpeg
    alt: "VLMs See What You Want but not What You See -- ToM Workshop at AAAI 2025"
    title: "ToM Workshop at AAAI 2025"
  - image_path: assets/images/news/arvo2024.JPG
    alt: "VIOCR: OCR with Simulated Low Vision -- ARVO 2024"
    title: "ARVO 2024"
  - image_path: assets/images/news/optica2024.png
    alt: "Presented at OPTICA Blust"
    title: "Presented at OPTICA Blust"
  - image_path: assets/images/news/joe2024.png
    alt: "Joe's lab visit"
    title: "Joe's lab visit"
  - image_path: assets/images/news/arvo2025.JPG
    alt: "ARVO2025"
    title: "ARVO 2025"
  - image_path: assets/images/news/arvo2025pre.JPG
    alt: "ARVO2025 Oral"
    title: "ARVO Oral"
  - image_path: assets/images/news/arvo2025travelgrant.JPG
    alt: "ARVO2025 Travel Grant"
    title: "ARVO Travel Grant"
intro:
  - excerpt: "**ABOUT ME:**
  I am a second-year PhD student in the Department of Computer Science at Johns Hopkins University.
  I am a member of the Lions Vision Research & Rehab Center, Wilmer Eye Institute and Artificial Intelligence for Engineering and Medicine Lab. I am advised by Dr. Yingzi Xiong and Prof. Rama Chellappa.
  My research interest lies in multi-modality fusion, 2D and 3D segmentation, as well as human-computer interaction, especially in clinical applications."
work:
    url: "/papers/"
    btn_label: "More Publications"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

Latest News:
<ul style="font-size:15px">
  <li>2025.05.08. Our work 'Walk See & Trace' and 'Measuring Critical Viewing Distance of Models' are accepted to ARVO 2025 (<a href="https://www.linkedin.com/posts/dr-agrawal-p1_arvo2025-ugcPost-7326001207410311168-eBrm?utm_source=share&utm_medium=member_desktop&rcm=ACoAAD1WTxUBQ2VK0pPltZfr3-Y7xRx_UjCXhDQ">See more details</a>)</li>
  <li>2025.04.15. Our work 'Core Knowledge Deficits in Multi-Modal Language Models' is accepted to ICML 2025</li>
  <li>2025.03.02. Awarded the ARVO travel grant!</li>
  <li>2025.03.02. Our work 'VLMs See What You Want but not What You See' is accepted to ToM4AI workshop at AAAI 2025 </li>
</ul>
{% include gallery id="news_gallery" %}

Research Interests:
<ul style="font-size:15px">
  <li>&#128374; HCI</li>
    <ul>
      <li>Low Vision Assistive Tools: Designing novel frameworks and models to evaluate potential mobility hazards customized for low-vision individuals with varying visual impairments.</li>
    </ul>
 <li>&#129528; VLM TOM</li>
    <ul>
      <li>Social cognition and Cognitive development: Reasoning about others’ traits, states, actions, and intentions.</li>
    </ul>
  <li>&#128137; Medical AR</li>
</ul>

{% include gallery id="home_work_gallery" caption="Research Fields: `HCI`, `VLM TOM`, `Ophthalmology`" %}

{% include feature_row id="work"%}


<!-- {% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %} -->

<!-- {% include feature_row id="feature_row4" type="center" %} -->
