---
layout: home
author_profile: false
classes: wide
title: "Qingying Gao"
author_profile: true
sidebar:
  nav: main
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/images/illustrations/masterphoto.jpg
  actions:
    - label: "RESUME"
      url: "https://drive.google.com/file/d/18DJkk2GwRTwYskH1WUC5PwuQmmHI9HGy/view?usp=sharing"
  caption: "CUFE (BS) -> JHU (MSE) -> JHU (ongoing) "
excerpt: "高清滢 (Kaia)"
intro:
  - excerpt: "**ABOUT ME:**
  I am a first-year PhD student in the Department of Computer Science at Johns Hopkins University.
  I am a member of the Lions Vision Research & Rehab Center, Wilmer Eye Institute and Artificial Intelligence for Engineering and Medicine Lab. I am advised by Prof. Yingzi Xiong and Prof. Rama Chellappa.
  My research interest lies in multi-modality fusion, 2D and 3D segmentation, as well as human-computer interaction, especially in clinical applications."
work:
    url: "/papers/"
    btn_label: "More Papers"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include gallery id="news_gallery" caption="Latest News" %}

{% include gallery id="home_work_gallery" caption="Research Field `HCI`, `VLM TOM`, `Ophthalmology`" %}

<ol style="font-size:15px">
  <li>&#128374; HCI</li>
    <ol>
      <li>Low Vision Assistive Tools: Designing novel frameworks and models to evaluate potential mobility hazards customized for low-vision individuals with varying visual impairments.</li>
    </ol>
 <li>&#129528; VLM TOM</li>
    <ol>
      <li>Social cognition and Cognitive development: Reasoning about others’ traits, states, actions, and intentions.</li>
    </ol>
  <li>&#128137; Medical AR</li>
</ol>

{% include feature_row id="work"%}

<!-- {% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %} -->

<!-- {% include feature_row id="feature_row4" type="center" %} -->
